<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994686838786-vr44m8qs0jags8rs84l6ir6j3r0ahuln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994686838786-vr44m8qs0jags8rs84l6ir6j3r0ahuln</string>
	<key>API_KEY</key>
	<string>AIzaSyAfOWHPMONJoJ328vdsSOIPWwodNqVOGRE</string>
	<key>GCM_SENDER_ID</key>
	<string>994686838786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpha.clubmate</string>
	<key>PROJECT_ID</key>
	<string>clubmates-e527a</string>
	<key>STORAGE_BUCKET</key>
	<string>clubmates-e527a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994686838786:ios:c87a879352460816425f1b</string>
</dict>
</plist>